{% extends "base.html" %}
{% block title %}Home{% endblock%}

{% block content %}
{% load static %}
<link href='{% static "new/css/home.css" %}' rel='stylesheet'>
<h1>Home</h1>
<div class="book-panel">
    {% for article in articles %}
    <div class="book-item">
        <img src="{{article.image.url}}" alt="{{article.nom}}" width='224' height='280' >
        <h2>{{article.nom}}</h2>
        <p>Prix: {{article.prix}}</p>
        <a href="{% url "art_detail" article.id %}" class='btn btn-info' >Détails</a>
    </div>
    {% endfor %}
</div>

{% load static %}
 <link rel='stylesheet' href='{% static "new/css/style.css" %}'>
 <script src='{% static "new/js/index.js" %}'></script>
{% endblock content %}