{% extends "base.html" %}
{% block title %}Home{% endblock%}

{% block content %}
{% load static %}
<link href='{% static "new/css/home.css" %}' rel='stylesheet'>
<h1>Acceuil</h1>
<div class="product-panel">
    {% for article in articles %}
    <div class="product">
        <img src="{{article.image.url}}" alt="{{ aticle.nom }}">
        <div class='product-description'>
            <p>{{ article.nom }}</p>
            <p>{{ article.prix }}</p>
            <a href="{% url "art_detail" article.id%}" class="btn btn-info details-button">Détails</a>
        </div>
    </div>
    {% endfor %}
</div>

{% load static %}
 <script src='{% static "new/js/index.js" %}'></script>
{% endblock content %}